.animated-text {
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow-text-animation 5s ease-in-out infinite;
  background-size: 400% 100%;
  text-shadow: 5px 1px 5px rgba(0, 0, 0, 0.18);
}

@keyframes rainbow-text-animation {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
